#!/bin/bash

#
# CentOS pdns backend updater
# Called by : cron, managed by: Ansible
# purposes: download the generated backend.json file needed for pdns
#  and reload if needed
#

PATH=$PATH:/usr/local/bin:/sbin:/usr/sbin/

remote_gpg_file="{{ pdns_backend_url }}"
remote_checksum_file="{{ pdns_backend_url }}.checksum"
local_checksum_file="/var/tmp/backend.json.gpg.checksum"
new_checksum_file="/var/tmp/backend.json.gpg.checksum.new"
local_gpg_file="/var/tmp/backend.json.gpg"
gpg_passphrase="{{ pdns_gpg_passphrase }}"
target_conf_file="/var/lib/centos-pdns/backend.json"
log_file="/var/log/centos_pdns_backend.log"

function f_log() {
        echo "[*] $(date +%Y%m%d-%H:%M) : -> $*" >> $log_file
}

function f_errorcheck() {
 if [ "$?" = "0" ]; then
   f_log "$* : PASS => continuing ..."
 else
   f_log "$* : FAIL => exiting ..."
   zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k pdns.backend_refresh -o 1 >/dev/null
   exit 1
 fi
}


curl --silent --fail -H 'Cache-Control: no-cache' ${remote_checksum_file} -o ${new_checksum_file}

f_errorcheck "Downloading ${remote_checksum_file}"

previous_checksum=$(awk '{print $1}' ${local_checksum_file})
new_checksum=$(awk '{print $1}' ${new_checksum_file})

if [ "${new_checksum}" == "${previous_checksum}" ] ; then
  f_log "checksum ${new_checksum} is the same as before ... exiting"
else
  /bin/rm ${local_gpg_file}
  curl --silent --fail -H 'Cache-Control: no-cache' ${remote_gpg_file} -o ${local_gpg_file}
  f_errorcheck "Downloading ${remote_gpg_file}"
  test "$(sha256sum ${local_gpg_file}|awk '{print $1}')" == "${new_checksum}"
  f_errorcheck "Verifying sha256sum for downloaded file ${local_gpg_file}"
  gpg --passphrase ${gpg_passphrase} --batch --yes -d ${local_gpg_file} 2>/dev/null >${target_conf_file}
  f_errorcheck "GPG decrypt operation for ${local_gpg_file}"
  f_log "Reloading pdns as backend.json is newer"
  systemctl is-active pdns --quiet && systemctl restart pdns
  f_log "Writing ${new_checksum} as current checksum"
  echo "${new_checksum}" > ${local_checksum_file}   
fi

# No error detected and pdns restarted to informing zabbix
zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k pdns.backend_refresh -o 0 >/dev/null
